@font-face {
  font-family: "Cisco Sans";
  src: url("../Fonts/CiscoSansRegular.otf") format("openType");
}

@font-face {
  font-family: "Cisco Sans";
  src: url("../Fonts/CiscoSansLight.otf") format("openType");
}

@font-face {
  font-family: "Cisco Sans";
  src: url("../Fonts/CiscoSansBold.otf") format("openType");
  font-weight: bold;
}

@font-face {
  font-family: "ciscosansttregular";
  src: url("../Fonts/CiscoSansTTRegular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: "Cisco Sans";
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
}

.background-image-mobile {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center;
  z-index: -1;
}

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* navbar mobile */

.offcanvas {
  width: 16.5rem;
}

.offcanvas-header {
  display: block;
}

.nav-mob-header h4 {
  margin-left: 1.5rem;
}

.nav-menu-mob,
.nav-mob-header h4,
#yourNameMob {
  color: #00263a;
}

.mob-menu li {
  width: 90%;
  margin-left: 1.5rem;
  margin-bottom: 12px;
  border-bottom: 1px solid #00263a;
  font-size: 14px;
}

.mob-menu li a {
  background-color: transparent;
  padding: 5px 4px;
  border-radius: 0;
  color: #00263a;
  line-height: 22px;
  text-align: left;
  margin: 0;
  height: auto;
}

.btn-close {
  border: 1px solid black;
  border-radius: 50%;
  font-size: 12px;
  opacity: 1;
  align-self: flex-start;
}

/* 
/* Navbar css */

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.nav-menu-area {
  width: 100%;
}

.main-menuarea {
  display: flex;
  background-color: rgba(0, 188, 235, 0.32);
  width: 98%;
  margin-top: 10px;
  margin-left: auto;
  align-items: center;
  margin-right: auto;
  border-radius: 10px;
  justify-content: space-between;
}

.logo-area a {
  margin: 0;
  display: block;
  padding: 15px;
}

.logo-area img {
  width: 70px;
}

.middle-summitgulf h5 {
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 16px;
  display: none;
  font-weight: bold;
}

.navbar-brand img {
  border-style: none;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.menu-area {
  margin-right: 20px;
}

a {
  background-color: transparent;
  text-decoration-thickness: none;
}

.main-menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mobile-toggle {
  display: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.main-menu > ul > li {
  width: 14.285%;
  text-align: center;
}

.main-menu ul li a {
  background-color: #1e4471;
  padding: 0px 10px;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  font-family: "ciscosansttregular";
  line-height: 45px;
  border: 2px solid #fff;
  margin: 0 18px;
  display: block;
  height: 45px;
  min-width: 135px;
  font-size: 14px;
}

.main-menu ul li.networking a {
  line-height: 16px;
  padding-top: 8px;
  padding-bottom: 9px;
}

.welcome-button {
  margin-left: 30px;
  border-left: 1px solid #fff;
  padding-left: 0px;
  margin: 5px 0;
  min-width: 180px;
}

.welcome-button h4 {
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin: 0;
}

/*  navbar*/

.vimo-vedio-add {
  position: fixed;
  top: 40.7%;
  width: 200px;
  left: 52%;
  transform: translate(-55%, -69%);
}

.vimo-vedio-add #muteunmute {
  position: absolute;
  right: 40px;
  background-color: #fff;
  padding: 0px 9px;
  color: #000;
  font-size: 10px;
  border-radius: 10px;
  bottom: 10px;
}
.auditorium {
  position: fixed;
  left: 50%;
  top: 51%;
  transform: translate(-229px, 0);
}

.networking-louge {
  position: fixed;
  top: 51%;
  left: 50%;
  transform: translate(-61px, 0px);
}

.breakout-sessions {
  position: fixed;
  top: 51%;
  left: 50%;
  transform: translate(101px, 0px);
}

.auditorium a,
.breakout-sessions a,
.networking-louge a,
.visitphotobooth a,
.visitingram a,
.visitlogicom a,
.browsegames a,
.downloadsmain a,
.back-to a,
.chatrep a,
.speakers-bio a,
.feedbacks a,
.security a {
  background-color: #1e4471;
  color: #fff;
  border: 1px solid #fff;
  padding: 3px 22px;
  display: block;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.auditorium a:after,
.breakout-sessions a:after,
.networking-louge a:after,
.visitphotobooth a:after,
.visitingram a:after,
.visitlogicom a:after,
.browsegames a:after,
.back-to a:after,
.chatrep a:after,
.downloadsmain a:after,
.speakers-bio a:after,
.feedbacks a:after,
.security a:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  background-image: url(http://ciscogulfpartnersummit.marcomarabiamea.com/wp-content/themes/ciscogulfpartner2021/images/animation.gif);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

a,
a:hover {
  text-decoration: none;
  outline: 0;
}

.mobile-only,
.background-image-mobile {
  display: none !important;
}

.h5,
h5 {
  font-size: 1.25rem;
}

.bottom-button {
  border-radius: 10px;
  margin-bottom: 15px;
  position: absolute;
  bottom: 0;
  margin-left: 40%;
}

.bottom-button ul {
  padding: 0;
  justify-content: stretch;
  list-style: none;
  display: flex;
  margin: 10px;

  align-items: stretch;
}

.bottom-button ul a {
  min-width: 165px;
  display: block;
  text-align: center;
  background-color: #1e4471;
  color: #fff;
  height: 100%;
  font-size: 14px;
  border-radius: 50px;
  margin: 0 5px;
  padding: 8px 0;
  line-height: 16px;
  border: 2px solid #fff;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.modal-content {
  position: absolute;
  width: calc(100% - 22%);
  height: calc(100% - 210px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #0d274d;
  z-index: 99999999;
  padding: 0 30px;
  background-image: url(../img/bg-popup.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  border: 3px solid #02b1d0;
}

/* Agenda popup body */
.date-area {
  margin-bottom: 20px;
}

.modal-dialog ::-webkit-scrollbar {
  width: 25px;
  background-color: #fff;
  border-radius: 14px;
}

.modal-dialog ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
  box-shadow: inset 0 0 5px grey;
  border-radius: 14px;
}
.modal-dialog ::-webkit-scrollbar-thumb {
  background: #00bceb;
  border-radius: 10px;
}

.modal-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
  font-size: 10px;
}

.modal-header {
  width: 100%;
}

.modal-header button {
  color: #fff !important;
  border: 2px solid #fff !important;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}

.date-area ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

strong {
  color: #000;
}
.date-area ul li {
  width: 50%;
  text-align: center;
  border: 2px solid #00bceb;
  background-color: #fff;
  color: #11284b;
  padding: 7px;
  font-size: 16px;
  cursor: pointer;
}

.date-area ul li.active {
  background-color: #00bceb;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  width: 100%;
  margin: auto;
}

/* day */
.educational-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 20px;
}
.educational-section > div.time {
  width: 10%;
}

.educational-section div:first-child h3 {
  line-height: 17px;
}

.educational-section > div {
  background-color: #1e4471;
  color: #fff;
  padding: 5px;
  align-content: center;
  align-self: stretch;
}

.educational-section h3 {
  font-size: 16px;
  text-align: center;
  line-height: 34px;
  margin: 0;
  text-transform: capitalize;
}

.educational-area {
  width: 89%;
}

/* agenda items */

.agenda_day_select {
  display: none;
}

.agenda_day_select.active {
  display: block;
}

.agenda-left-area {
  width: 10%;
}

.agenda-times {
  display: flex;
  height: 81%;
  flex-direction: column;
  justify-content: space-between;
}

.agenda-times h3 {
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.arrows-line {
  height: calc(100% - 30px);
  position: relative;
}

.arrows-line::before {
  width: 17px;
  height: 17px;
  background-color: #00bceb;
  position: absolute;
  left: 50%;
  top: -11px;
  content: "";
  border-radius: 50%;
  margin-left: -10px;
}

.arrows-line::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 6px;
  height: calc(100% + 22px);
  margin-left: -1px;
  width: 2px;
  background-color: #00bceb;
}

.agenda-right-area {
  width: 90%;
}

.agenda-right-header {
  background-color: #1e4471;
  padding: 3px 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.agenda-bg {
  background-color: #1e4471;
}

.agenda-linga {
  width: 20px;
  text-align: center;
}
img {
  border-style: none;
}

.agenda-usimg {
  width: 115px;
  text-align: center;
}

.agenda-usimg img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.agenda-uname h4 {
  font-size: 17px;
  color: #fff;
  margin: 0;
  font-weight: bold;
}
.agenda-right-left {
  width: 30%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding-right: 20px;
}

.agenda-right-left::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 10%;
  height: 80%;
  width: 2px;
  background-color: #fff;
}

.agenda-right-right {
  color: #fff;
  width: 29%;
  text-align: left;
}

.agenda-description p {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.agenda-right-footer {
  display: flex;
  padding: 20px 18px;
  justify-content: space-between;
  border: 1px solid transparent;
  align-items: center;
  width: 37%;
}

.agenda-footer-right {
  width: 90%;
  text-align: left;
  padding-left: 15px;
}
.agenda-footer-right h5 {
  color: #fff;
  font-weight: bold;
  margin: 0;
  font-size: 13px;
}

.modal-content,
.modal-dialog {
  height: 80%;
  width: 80vw;
}
.agenda-main-area {
  display: flex;
  margin-bottom: 18px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.agenda-main-area.full .agenda-right-footer {
  width: 100%;
}

/* Additional Features */
.additional-features-agenda {
  border-top: 2px solid #00bceb;
  margin-top: 40px;
}

.breakout-sessions-day {
  padding: 20px;
  text-align: center;
  background-color: #1e4471;
  margin: 10px 0;
  margin-top: 40px;
}

.breakout-sessions-day h5 {
  color: #ffffff;
  font-weight: bold;
  margin: 0;
}

.area-note p {
  text-align: center;
  font-size: 12px;
  color: #fff;
  font-style: italic;
  margin-bottom: 10px;
}

.selectable-agendas ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.selectable-agendas ul li {
  width: 24%;
  text-align: center;
  border: 1px solid #00bceb;
  color: #fff;
}

/* .selectable-agendas ul li.activelink {
  background-color: #00bceb;
} */

.selectable-agendas ul li a {
  display: block;
  font-size: 14px;
  margin: 0;
  height: 100%;
  color: #fff;
  text-decoration: none;
  padding: 6px 0;
  font-weight: bold;
}

.agenda-right-footer.blue-bg {
  background-color: #1e4471;
  color: #fff;
  border-color: #1e4471 !important;
}

.selectable-agendas ul li.color-1 {
  border-color: #00bceb;
}

.selectable-agendas ul li.color-2 {
  border-color: #7030a0;
}
.selectable-agendas ul li.color-3 {
  border-color: #ed7d31;
}
.selectable-agendas ul li.color-4 {
  border-color: #00b050;
}

.security-bg {
  background-color: #00bceb;
}

.cloud-bg {
  background-color: #7030a0;
}

.collaboration-bg {
  background-color: #ed7d31;
}

.partnerProgram-bg {
  background-color: #00b050;
}

/* Break out */
.list_breakout {
  display: none;
}
.list_breakout.active {
  display: block;
}

div#security .agenda-right-header,
div#security1 .agenda-right-header {
  background-color: #00bceb;
}

div#security .agenda-right-footer,
div#security .agenda-right-footer {
  border-color: #00bceb;
}

div#cloud_dc .agenda-right-header,
div#cloud_dc1 .agenda-right-header {
  background-color: #7030a0;
}

div#cloud_dc .agenda-right-footer,
div#cloud_dc1 .agenda-right-footer {
  border-color: #7030a0;
}

div#collaboration .agenda-right-header,
div#collaboration1 .agenda-right-header {
  background-color: #ed7d31;
}

div#collaboration .agenda-right-footer,
div#collaboration1 .agenda-right-footer {
  border-color: #ed7d31;
}

div#partner-program .agenda-right-header,
div#partner-program1 .agenda-right-header {
  background-color: #00b050;
}

div#partner-program .agenda-right-footer,
div#partner-program1 .agenda-right-footer {
  border-color: #00b050;
}

.display-none {
  display: none;
}

/* visit distributors css  */

.modal {
  top: 20px;
}

.flex {
  margin-left: -15px;
  margin-right: -15px;
}
.distributon-bgs {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 89%);
}

.sidtribution-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sidtribution-heading h4 {
  color: #0d274d;
  font-size: 20px;
  margin: 0;
}

.sidtribution-heading img {
  max-height: 40px;
}

.distribution-content {
  max-height: fit-content;
  overflow: hidden;
}

.distribution-content p,
#moreText,
#moreText2 {
  font-size: 14px;
  color: #0d274d;
  text-align: justify;
  font-weight: 400;
}

.distribution-readmore {
  margin-bottom: 10px;
}

.distribution-readmore a {
  margin-bottom: 10px;
}

.distribution-readmore a,
.read-more-a {
  color: #0d274d;
  text-decoration: underline;
  font-weight: bold;
}

#readmore-1,
#readmore-2 {
  position: relative;
  left: -39%;
}

.visit-button {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.visit-button a {
  background-color: #02b1d0;
  padding: 5px 20px;
  display: inline-block;
  color: #fff;
  min-width: 47%;
  text-align: center;
  border-radius: 50px;
}

.contact-us-area {
  margin: 10px 0;
  color: #0d274d;
  position: relative;
  align-items: flex-start;
  text-align: start;
}

.contact-us-area * {
  color: #0d274d;
}

.heading-contact {
  font-weight: bold;
  font-size: 14px;
}

button.close_contact {
  position: absolute;
  right: 0;
  border: 0;
  background-color: transparent;
  padding: 0;
  font-size: 12px;
  top: 5px;
}

.lob_distri_bottomside_info_text {
  font-size: 13px;
}

#moreText,
#moreText2 {
  display: none;
}

.contact-area {
  display: flex;
}

.contact-area li {
  width: 50%;
  padding-top: 34px;
  list-style: none;
}

.heading-contact {
  font-weight: bold;
  font-size: 14px;
}

.lob_distri_bottomside_info_person {
  font-size: 13px;
}

.contact-area li {
  width: 50%;
  padding-top: 34px;
  list-style: none;
}

.lob_distri_bottomside_page_contact a {
  font-size: 14px;
  font-weight: 400;
  color: #10abd1;
}

.lob_distri_bottomside_page_contact a:hover {
  color: #0056b3;
}

/* Feed back  */

.form-area {
  padding: 40px 100px;
}

.feedback {
  color: #fff;
}

.top-content {
  text-align: center;
}

.feedback h2 {
  font-size: 22px;
  margin-bottom: 5px;
}

.feedback .top-content p {
  font-size: 17px;
  line-height: 18px;
}

form {
  display: block;
  margin-top: 0em;
}

/* .singleCitem {
  display: none;
} */

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.full-name label {
  font-size: 1rem;
  padding: 6px 0px;
  min-width: 20%;
}

form#sheet_api input {
  padding: 5px 15px;
  font-size: 14px;
  color: #000;
  font-family: "ciscosansttregular";
}

.draw-image img {
  width: 50%;
  height: auto;
}
.name-area input {
  width: 78%;
  border-radius: 50px;
  border: 2px solid #111;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font-family: "Cisco Sans";
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  color: #000;
}

#first_div {
  text-align: center;
}

#pragrap {
  overflow: hidden;
}

p.error {
  display: none;
  width: 100%;
  color: red;
  clear: both;
  margin: 0;
}

#pragrap label {
  font-size: 19px;
  font-weight: bold;
}

.cisco-patner label {
  padding-top: 20px;
}

span.mandotary {
  color: red;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
}

textarea {
  max-width: 100%;
}
textarea {
  resize: vertical;
}

textarea {
  overflow: auto;
  width: 100%;
  max-height: 100px;
  padding: 8px;
}

.respective-words p {
  color: red;
  margin: 0;
  font-size: 14px;
}

.invalid p.error {
  display: block;
}

.left-part {
  width: 50%;
  float: left;
}

.own-words {
  padding-top: 10px;
}

.submit-button button#prevBtn {
  right: auto;
  left: 0;
}

.submit-button button {
  padding: 0;
  border-radius: 50px;
  background: transparent;
  min-width: 70px;
  color: #fff;
  right: 35px;
  border: 0;
  position: absolute;
  font-size: 50px;
  top: 50%;
  margin-top: -37px;
  cursor: pointer;
}

/* Feedback > at the end of feedback */
.feedback_output {
  text-align: center;
  margin-top: 15px;
}

.feedback_output h1 {
  text-align: center;
  color: #02b1d0;
  font-size: 40px;
  font-weight: 500;
}
.feedback_output img {
  max-height: 200px;
  width: auto;
}
