*,
*::after,
*::before {
  margin: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.profile button {
  color: #0d274d;
}

.modal-header {
  border: none;
}

.main-section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#background-img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.main-section #myImg {
  position: fixed;
  right: 0;
  bottom: 0px;
  width: 100vw;
  height: 80wh;
  position: absolute;
  z-index: -1;
}

.main-section .navbar {
  margin-top: 10px;
  width: 98%;
  height: 65px;
  background-color: #49869893;
  z-index: 999;
  border-radius: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-section .navbar .logo {
  width: 100px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-section .navbar .logo img {
  height: 37px;
  margin-left: 20px;
}

.main-section .navbar .links {
  width: 70%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-section .navbar .links ul {
  margin-top: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
}

.main-section .navbar .links ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.main-section .navbar .links ul li a {
  line-height: 17px;
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font: 500;
  display: block;
}

.main-section .navbar .right-text {
  margin-right: 10px;
  width: 170px;
  height: 50px;
  border-left: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-section .navbar .right-text h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 19px;
  color: #fff;
}

.main-section .side-btns {
  width: 100%;
  height: 200px;
  position: absolute;
  z-index: 99999;
  -ms-flex-item-align: center;
  align-self: center;
  margin-bottom: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: center;
  align-content: center;
}

.main-section .side-btns .btns {
  margin-right: 20px;
  width: 30%;
  height: 200px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-section .side-btns .btns .btn-style {
  width: 135px;
  height: 40px;
  border: 2px solid #f7f2f2;
  border-radius: 30px;
  background-color: #1e4471;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5px;
}

.main-section .side-btns .btns .btn-style a {
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font: 500;
}

.main-section .side-btns .btns .btn-3 {
  position: relative;
  top: 10px;
}

.main-section .animation-btns {
  width: 100%;
  height: 250px;
  position: absolute;
  z-index: 9999;
  -ms-flex-item-align: center;
  align-self: center;
  margin-bottom: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: center;
  align-content: center;
}

.main-section .animation-btns .animation-space {
  margin-right: 20px;
  width: 30%;
  height: 250px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-section .animation-btns .animation-space .btn-1-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 150px;
  height: 100px;
  margin: 5px;
}

.main-section .animation-btns .animation-space .btn-2-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 150px;
  height: 100px;
  margin: 5px;
}

.main-section .animation-btns .animation-space .btn-3-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 150px;
  height: 100px;
  margin-bottom: 160px;
}

.main-section .help-btn {
  width: 12%;
  height: 53px;
  position: absolute;
  background-color: #1e4471;
  z-index: 999;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-bottom: 20px;
  border-radius: 30px;
  border: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-section .help-btn h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 1px 3px;
  text-align: center;
  margin-top: 10px;
}

.btnstyle {
  width: 125px;
  height: 40px;
  border: 2px solid #f7f2f2;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: #1e4471;
  padding: 21px 0px;
}

@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    -webkit-transform: scale(2.5, 2.5);
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    -webkit-transform: scale(2.5, 2.5);
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

.circle {
  width: 49px;
  height: 49px;
  border: 0.1em solid #fff;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  -webkit-animation: scaleIn 1s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
  animation: scaleIn 1s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

.modal-header button {
  color: white !important;
  border: 2px solid white !important;
  background-color: white;
  border-radius: 50%;
  position: relative;
}

.modal-dialog {
  min-width: 1100px;
  max-height: 520px !important;
  color: #0d274d;
  /* width */
  /* Track */
  /* Handle */
}

.modal-dialog ::-webkit-scrollbar {
  width: 25px;
  background-color: white;
  border-radius: 14px;
}

.modal-dialog ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
  box-shadow: inset 0 0 5px grey;
  border-radius: 14px;
}

.modal-dialog ::-webkit-scrollbar-thumb {
  background: #02b1d0;
  border-radius: 10px;
}

.modal {
  top: 10%;
}

.modal-content {
  background-color: #122751 !important;
  /* color of all content indcluding body and header of modal */
  border-radius: 20px !important;
  border: 3px solid #02b1d0 !important;
}

.modal-style {
  background-color: #122751;
}

.date {
  width: 100%;
  height: 110px;
}

.date .date-label {
  width: 100%;
  height: 40px;
}

.date .date-label .labeldiv p {
  margin-top: 20px;
  color: white;
  font-weight: bold;
}

.date .date-btns {
  width: 34%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.date .date-btns .date-btn-style {
  width: 160px;
  height: 30px;
  border-radius: 18px;
  background-color: #02b1d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
}

.date .date-btns .date-btn-style p {
  color: white;
  margin-top: 10px;
  color: black;
  font-weight: bold;
}

.date .date-btns button {
  border: none;
}

.breakout-rooms {
  width: 100%;
  height: 110px;
}

.breakout-rooms .breakout-label {
  width: 100%;
  height: 40px;
}

.breakout-rooms .breakout-label .breakoutdiv {
  margin-top: 15x;
}

.breakout-rooms .breakout-label .breakoutdiv p {
  color: white;
  font-weight: bold;
}

.breakout-rooms .breakout-btns {
  width: 85%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 3px;
}

.breakout-rooms .breakout-btns .br-btn-style {
  width: 160px;
  height: 30px;
  border-radius: 18px;
  background-color: #02b1d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
}

.breakout-rooms .breakout-btns .br-btn-style p {
  margin-top: 10px;
  font-weight: bold;
}

.breakout-rooms .breakout-btns button {
  border: none;
}

.card {
  width: 100%;
  height: auto;
  background-color: #122751 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card .card-style {
  width: 100%;
  background-color: #fff;
  margin: 20px 0px;
}

.card .card-style .profile-pic {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card-style .profile-pic .pic {
  width: 15%;
  height: 150px;
}

.card .card-style .profile-pic .pic .picdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card .card-style .profile-pic .pic .picdiv img {
  width: 70%;
  height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
}

.card .card-style .profile-pic .name {
  width: 85%;
}

.card .card-style .profile-pic .name .heading-name {
  width: 70%;
  height: 80px;
  margin-top: 30px;
}

.card .card-style .profile-pic .name .heading-name h2 {
  position: relative;
  top: 7px;
}

.card .card-style .profile-pic .name .heading-name p {
  height: 70px;
  font-size: 17px;
  margin-top: 0px;
  position: relative;
  bottom: 5px;
}

.card .card-style .session {
  width: 100%;
  height: 30px;
  position: relative;
  left: 23px;
}

.card .card-style .profile {
  width: 100%;
  height: auto;
  position: relative;
  left: 23px;
}

.card .card-style .profile button {
  position: relative;
  right: 7px;
  bottom: 5px;
  font-weight: bold;
  background: transparent;
  -webkit-box-shadow: 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.card .card-style .profile button:hover {
  background: transparent;
  -webkit-box-shadow: 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.card .card-style .profile button:active {
  outline: none;
  border: none;
}

.card .card-style .profile button:focus {
  outline: 0;
}

.card .card-style .profile p {
  font-size: 18px;
  margin-right: 50px;
}

.tabContainer .tabPanel {
  height: 90%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
}

.active {
  width: 160px;
  height: 40px;
  border-radius: 18px;
  background-color: white !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.active p {
  margin-top: 10px;
  color: black;
  font-weight: bold;
}

.unactive {
  width: 160px;
  height: 40px;
  border-radius: 18px;
  background-color: #02b1d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.unactive p {
  margin-top: 10px;
  color: black;
  font-weight: bold;
}

.outerTabContainer .tabContainer {
  height: 90%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
}

.breakout-btns-b {
  width: 85%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 3px;
}

.breakout-btns-b .br-btn-style {
  width: 160px;
  height: 40px;
  border-radius: 18px;
  background-color: #02b1d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.breakout-btns-b .br-btn-style p {
  margin-top: 10px;
  color: black;
  font-weight: bold;
}

.breakout-btns-b button {
  border: none;
}

#more1 {
  display: none;
}

#more2 {
  display: none;
}

#more3 {
  display: none;
}

#more4 {
  display: none;
}

#more5 {
  display: none;
}

#more1b {
  display: none;
}

#more2b {
  display: none;
}

#more3b {
  display: none;
}

#more4b {
  display: none;
}

#more5b {
  display: none;
}

#more1c {
  display: none;
}

#more2c {
  display: none;
}

#more3c {
  display: none;
}

#more4c {
  display: none;
}

#more5c {
  display: none;
}

#more1d {
  display: none;
}

#more2d {
  display: none;
}

#more3d {
  display: none;
}

#more4d {
  display: none;
}

#more5d {
  display: none;
}

#more1e {
  display: none;
}

#more2e {
  display: none;
}

#more3e {
  display: none;
}

#more4e {
  display: none;
}

#more5e {
  display: none;
}

#more1p2a {
  display: none;
}

#more2p2a {
  display: none;
}

#more3p2a {
  display: none;
}

#more4p2a {
  display: none;
}

#more5p2a {
  display: none;
}

#more1p2b {
  display: none;
}

#more2p2b {
  display: none;
}

#more3p2b {
  display: none;
}

#more4p2b {
  display: none;
}

#more5p2b {
  display: none;
}

#more1p2c {
  display: none;
}

#more2p2c {
  display: none;
}

#more3p2c {
  display: none;
}

#more4p2c {
  display: none;
}

#more5p2c {
  display: none;
}

#more1p2d {
  display: none;
}

#more2p2d {
  display: none;
}

#more3p2d {
  display: none;
}

#more4p2d {
  display: none;
}

#more5p2d {
  display: none;
}

#more1p2e {
  display: none;
}

#more2p2e {
  display: none;
}

#more3p2e {
  display: none;
}

#more4p2e {
  display: none;
}

#more5p2e {
  display: none;
}
/*# sourceMappingURL=style.css.map */
